<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/custom.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/calendar.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/myapp.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{=URL('static', 'font-awesome-4.6.3/css/font-awesome.min.css')}}">
    {{include "web2py_ajax.html"}}
  </head>
  <body class="silver">
    {{if response.flash:}}
    <div class="w2p_flash">
      {{=response.flash}}
    </div>
    {{pass}}
    <header class="white">
        <div class="container max900">
            <div class="column middle"><a v-if="home" class="home" href="{{=URL('default', 'index')}}">Home</a></div>
            <div class="column left"><a v-if="home" class="about" href="{{=URL('default', 'about')}}">About</a></div>
        {{if auth.user is not None:}}
            <div class="column middle"><a v-if="home" class="myprojects" href="{{=URL('default', 'myprojects')}}">My Projects</a></div>
            <div class="column middle">
                <ul class="menu login_btn">
                    <li>{{=auth.navbar(mode='dropdown')}}</li>
                </ul>
            </div>
        {{else:}}
            <div class="column middle"></div>
            <div class="column middle">
                <ul class="menu login_btn">
                    <li>{{=auth.navbar(mode='dropdown')}}</li>
                </ul>
            </div>
        {{pass}}
        </div>
        <div>

        </div>
    </header>
    <main class="white homeheight">
      {{include}}
    </main>
    <footer class="black spacing">
      <div class="silver center padded social">
        <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={url}"></a>
        <a class="fa fa-twitter" href="https://twitter.com/home?status={url}"></a>
        <a class="fa fa-google" href="https://plus.google.com/share?url={url}"></a>
      </div>
      <div class="container padded max900">
        <div class="fill">
          Copyright @ 2018
        </div>
      </div>
    </footer>
  </body>
  <script src="{{=URL('static','js/marked.min.js')}}"></script>
  <script src="{{=URL('static','js/vue.min.js')}}"></script>
  {{block bottomjs}}{{end}}
  <script>
    jQuery('.social a').each(function(){var t=jQuery(this); t.attr('href',t.attr('href').replace('{url}',encodeURIComponent(window.location.href)));});
  </script>
</html>
