a {color:#26a69a;}
a:not(.btn):not(.noeffect):hover {color:#a00000; font-size: 25px}
a:not(.btn):not(.noeffect):after {background-color:#a00000;}
.btn, button, [type=button], [type=submit] {background-color:#26a69a; color:white}
.progress .determinate {background-color:#26a69a}
.progress .indeterminate {background-color:#26a69a}
.tags > span {background-color: #26a69a}
.tags.dismissible > span.off:hover {background-color:#26a69a}


