{{extend 'layout.html'}}

{{block head}}

<div class="container padded">
    <h1 class="about_title Gabriola">About Journey</h1>
    <p class="about_description">
             Journey is a platform dedicated to showcasing the well-crafted works of the text adventure
        community, from animations to whole creations. One of our main goals is to encourage text-adventure creators to
        learn how to use visuals to create more powerful storytelling and immersion.

            By creating a place that showcases
        this interplay between the visual and the written, we hope to create an educational environment
        for the amateur web storyteller, to learn how and when to use visuals, to create a fulfilling adventure.
    </p>
</div>
