{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  // Define your URLs here.
  var invert_check_url = "{{=URL('api', 'invert_check')}}";
  var invert_uncheck_url = "{{=URL('api', 'invert_uncheck')}}";
  var get_current_id_url = "{{=URL('api', 'get_current_id')}}";
  var upload_submission_url = "{{=URL('api', 'upload_submission')}}";
  var get_user_submissions_url = "{{=URL('api', 'get_user_submissions')}}";
  var get_finished_submissions_url = "{{=URL('api', 'get_finished_submissions')}}";
  var get_draft_submissions_url = "{{=URL('api', 'get_draft_submissions')}}";
  var add_title_url = "{{=URL('api', 'add_title')}}";
  var add_descript_url = "{{=URL('api', 'add_descript')}}";
  var add_url_url = "{{=URL('api', 'add_url')}}";
  var set_title_url = "{{=URL('api', 'set_title')}}";
  var set_descript_url = "{{=URL('api', 'set_descript')}}";
  var set_url_url = "{{=URL('api', 'set_url')}}";
  var get_current_id_url = "{{=URL('api', 'get_current_id')}}";
  var get_title_url = "{{=URL('api', 'get_title')}}";
  var current_title = "{{=URL('api', 'get_title')}}";
</script>



{{end}}

<div class="main_content">


  <div id="vue-div" class="display:none">
    <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
  {{if auth.user is None:}}
      <container class="unknown">
          <div class="welcome"id="no_log_in">
              <div class="main_title">Welcome! </div>
              <div class="main_subtitle"> Please log in to enjoy access to Journey.</div>
          </div>
          <div class = "welcomebg">
              <div class = "column wleft"><img class="welcome_left" src = "/start/static/images/welcome_left.png"/></div>
              <div class = "column wmiddle"> </div>
              <div class = "column wright"><img class="welcome_right" src = "/start/static/images/welcome_right.png"/></div>
          </div>
      </container>
  {{else:}}
      <div class="container padded">

      <div class="submission_space threequarters">

          <!-- Listing of text-adventures ->
          <div v-if="self_page">
              <!-- Code to upload url/description , with control buttons -->
              <div id="uploader_div" style="display:none">
                  <p>Please add a title and an optional description to your submission.</p>
                  URL: <input id="myURL" type="url" v-model="add_url_input">
                  Title: <input id="title_input" type="text" v-model="add_title_input">
                  Description: <input id="descript_input" type="text" v-model="add_descript_input">
                  <button v-on:click="upload_submission">Submit</button>
              </div>

              <button v-if="!is_submitting" v-on:click="show_input"><i class="fa fa-plus"></i></button>
              <button v-if="is_submitting"  v-on:click="hide_input">Cancel</button>

          </div>

          <div class="submission_container">
              <ul class="container">
                  <li class="submission_chunk" v-for="submission in finished_submissions">
                      <span>
                          <span v-if="submission.created_by == {{=auth.user.id}}">Your submission</span>
                      <input id="url_input" v-if="submission.created_by == {{=auth.user.id}}" v-model="submission.submission_url" type="text" v-on:blur="set_url(submission._idx)"/>
                      <input id="text_input" v-if="submission.created_by == {{=auth.user.id}}" v-model="submission.title" type="text" v-on:blur="set_title(submission._idx)"/>
                      <input id="text_input" v-if="submission.created_by == {{=auth.user.id}}" v-model="submission.descript" type="text" v-on:blur="set_descript(submission._idx)"/>
                          <a id="title_link" v-if="submission.created_by != {{=auth.user.id}}" v-bind:href="submission.submission_url">
                              <output v-if="submission.created_by != {{=auth.user.id}}" v-model="submission.title" type="text"/>
                          </a>

                          <div>
                      <output class="output_descript" v-if="submission.created_by != {{=auth.user.id}}" v-model="submission.descript" type="text"/>
                  </div>
                          <div v-if="submission.created_by != {{=auth.user.id}}">
                      <p v-if="submission.submission_check==='True'"><button class="rating" v-on:click="invert_uncheck(submission._idx)"><i class="fa fa-thumbs-up"></i></button>
                      </p>
                      <p v-else>
                          <button class="rating2" v-on:click="invert_check(submission._idx)"><i class="fa fa-thumbs-o-down"></i></button>
                      </p>
                          </div>
                      </span>
                  </li>
              </ul>
              </ul>
          </div>
      </div>
      </div>

      </div>

  {{pass}}

  </div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>