{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  // Define your URLs here.
  var invert_check_url = "{{=URL('api', 'invert_check')}}";
  var invert_uncheck_url = "{{=URL('api', 'invert_uncheck')}}";
  var get_current_id_url = "{{=URL('api', 'get_current_id')}}";
  var upload_submission_url = "{{=URL('api', 'upload_submission')}}";
  var get_user_submissions_url = "{{=URL('api', 'get_user_submissions')}}";
  var get_finished_submissions_url = "{{=URL('api', 'get_finished_submissions')}}";
  var get_draft_submissions_url = "{{=URL('api', 'get_draft_submissions')}}";
  var add_title_url = "{{=URL('api', 'add_title')}}";
  var add_descript_url = "{{=URL('api', 'add_descript')}}";
  var add_url_url = "{{=URL('api', 'add_url')}}";
  var set_title_url = "{{=URL('api', 'set_title')}}";
  var set_descript_url = "{{=URL('api', 'set_descript')}}";
  var set_url_url = "{{=URL('api', 'set_url')}}";
  var get_current_id_url = "{{=URL('api', 'get_current_id')}}";
  var get_title_url = "{{=URL('api', 'get_title')}}";
  var current_title = "{{=URL('api', 'get_title')}}";
</script>

{{end}}
<div id="vue-div" class="display:none">
<div class="main-content">
        <div class="container padded">
            <h1 class="completed_title Gabriola">Completed Works</h1>
            <ul class="container">
            <li class="submission_chunk" v-for="submission in finished_submissions" v-if="submission.finished">
                    <input id="url_input" v-if="submission.created_by == {{=auth.user.id}}" v-model="submission.submission_url" type="text" v-on:blur="set_url(submission._idx)"/>
                    <input id="text_input" v-if="submission.created_by == {{=auth.user.id}}" v-model="submission.title" type="text" v-on:blur="set_title(submission._idx)"/>
                    <input id="text_input" v-if="submission.created_by == {{=auth.user.id}}" v-model="submission.descript" type="text" v-on:blur="set_descript(submission._idx)"/>
            </li>
        </ul>

            <div id="draft_uploader_div" style="display:none">
                  <p>Please add a title and an optional description to your draft.</p>
                  URL: <input id="myURL" type="url" v-model="add_url_input">
                  Title: <input id="title_input" type="text" v-model="add_title_input">
                  Description: <input id="descript_input" type="text" v-model="add_descript_input">
                  <button v-on:click="upload_submission">Submit</button>
              </div>

              <button v-if="!is_draft" v-on:click="show_draft_input"><i class="fa fa-plus"></i></button>
              <button v-if="is_draft"  v-on:click="hide_draft_input">Cancel</button>

            <h2 class="drafts_title Gabriola">Drafts</h2>
            <ul class="container">
            <li class="submission_chunk" v-for="submission in draft_submissions">
                <span>
                    <input id="url_input" v-if="submission.created_by == {{=auth.user.id}}" v-model="submission.submission_url" type="text" v-on:blur="set_url(submission._idx)"/>
                    <input id="text_input" v-if="submission.created_by == {{=auth.user.id}}" v-model="submission.title" type="text" v-on:blur="set_title(submission._idx)"/>
                    <input id="text_input" v-if="submission.created_by == {{=auth.user.id}}" v-model="submission.descript" type="text" v-on:blur="set_descript(submission._idx)"/>
                </span>
            </li>
        </ul>

        </div>
</div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>